<ion-header>
  <ion-toolbar class= lila>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">





<ion-content class="ion-padding">



  <ion-item class="ion-margin-top">
    <ion-label position="floating">USUARIO</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>

  <ion-item class="ion-margin-top">
    <ion-label position="floating">CONTASEÑA</ion-label>
    <ion-input type="password" ></ion-input>
  </ion-item>

  <ion-item class="ion-margin-top">
    <ion-label position="floating">REPITA CONTASEÑA</ion-label>
    <ion-input type="password" ></ion-input>
  </ion-item>


  <ion-button class="ion-margin-top lila"expand="block" (click)="navegar()">VUELVA AL INICIO</ion-button>

<ion-content>
