

<ion-content class="ion-padding">

  <ion-img src="assets/images/logo reservado 2.png"></ion-img>

  <ion-item class="ion-margin-top">
    <ion-label position="floating">USUARIO</ion-label>
    <ion-input ([ngModule])="email"></ion-input>


  </ion-item>

  <ion-item class="ion-margin-top">
    <ion-label position="floating">CONTASEÑA</ion-label>
    <ion-input type="password" ([ngModule])="pass" ></ion-input>
  </ion-item>

<ion-content>

  <ion-button class="ion-margin-top lila"expand="block" (click)="navegar()">INGRESE</ion-button>


  <div class="ion-text-center">
    <ion-button fill="clear">Cambiar contraseña</ion-button>
  </div>

<ion-content>
