<ion-header>
  <ion-toolbar class= boton>
    <ion-title>SELECIONA TU COMUNIDAD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item lines="none">
  <ion-select aria-label="condominio" placeholder="Seleccione condominio">
  <ion-select-option value="C1">Condominio 1</ion-select-option>
  <ion-select-option value="C2">Condominio 2</ion-select-option>
  <ion-select-option value="C3">Condominio 3</ion-select-option>
  <ion-select-option value="C4">Condominio 4</ion-select-option>
  <ion-select-option value="C5">Condominio 5</ion-select-option>
  <ion-select-option value="C6">Condominio 6</ion-select-option>
  </ion-select>
</ion-item>

<ion-img src="assets/images/edificio 5.jpg"></ion-img>




<ion-button (click)="presentAlert()">Click Me</ion-button>















